.mdl-app .mdl-layout__content section{
    position: relative;
    margin-bottom: 48px;
}
.mdl-app section.section--center{
    max-width: 640px;
}
main > .mdl-layout__tab-panel{
    padding: 8px;
    padding-top: 48px;
}
.mdl-app section > button{
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
#vatcalc section .mdl-card__title h4{
    margin-top: 0;
}
#vatcalc .mdl-textfield__input{
    font-size: 20px;
}